In [2]:
import pandas as pd

grades = pd.Series([87, 100, 94])
grades

0     87
1    100
2     94
dtype: int64

In [3]:
temps = pd.Series(98.6, range(3))
temps

0    98.6
1    98.6
2    98.6
dtype: float64

In [4]:
grades[0]

87

In [5]:
grades.count()
grades.mean()
grades.max()
grades.describe() # gives all information about the series

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

In [6]:
grades = pd.Series([87, 100, 94], index=['Wally', 'Eva', 'Sam'])
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [7]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 100}) # keys become indeces
grades

Wally     87
Eva      100
Sam      100
dtype: int64

In [8]:
grades['Eva']

100

In [9]:
grades.Wally # same as grades['Wally]

87

In [10]:
hardware = pd.Series(['Hammer', 'Saw', 'Wrench'])
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [11]:
hardware.str.contains('a')

0     True
1     True
2    False
dtype: bool

In [12]:
hardware_list = hardware.to_list()
hardware_list

['Hammer', 'Saw', 'Wrench']

In [14]:
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,10])

ds1==ds2
ds1>ds2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [16]:
list_of_series = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']
])
list_of_series

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [17]:
list_of_series = list_of_series.apply(pd.Series).stack().reset_index(drop=True)
list_of_series

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [26]:
# sort a series
s = pd.Series(['100', '200', 'python', '300.12', '400'])
sorted_series = s.sort_values(kind='quicksort')
sorted_series

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [29]:
s.append(pd.Series(['500', 'php']))
s

AttributeError: 'Series' object has no attribute 'append'